@use 'src/styles/vars';

.posts {
  padding-inline: vars.$gutter;
  
  .posts__title {
    color: vars.$primary-color;
    text-align: center;
    margin-block: vars.$gutter-base;
    padding-block: vars.$gutter-base;
    font-size: vars.$title-font-size-large;
  }

  .posts__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  
    .posts__single {
      margin: vars.$gutter-small;
      padding: vars.$gutter-small;
      &:hover {
        background: vars.$posts-hover-color;
      }

      .posts_single__title {
        color: vars.$title-color;
        font-size: vars.$title-font-size-medium;
      }

      .posts__single__category {
        background: vars.$primary-color;
        width: fit-content;
        color: vars.$light-color;
        text-transform: uppercase;
        padding: (vars.$gutter-base * 0.25) (vars.$gutter-base * 1.5);
        margin-block: vars.$gutter-base;
        font-size: vars.$category-font-size;
        border-radius: vars.$base-radius;
      }

      .posts__single__excerpt {
        color: vars.$posts-text-color;
        
        em {
          font-style: italic;
        }

        strong {
          font-weight: bold;
        }
      }
    }
  }

  @media only screen and (max-width: 1024px) {
    .posts__wrapper {
      grid-template-columns: 1fr;
    }
  }
}