@use 'reset';
@use 'vars';

html, body, #root {
  height: 100%;
}

body {
  font-family: vars.$global-font 'sans-serif';
  font-weight: vars.$global-font-weight;
  line-height: 1.6;
  font-size: vars.$base-font-size;
}

h1,
h2,
h3 {
  font-family: vars.$title-font;
  font-weight: vars.$title-font-weight;
  line-height: 1.2;
  text-transform: uppercase;
}