@use 'src/styles/vars';

.footer {
  margin-block-start: auto;
  margin-block-end: vars.$gutter-base;
  padding-block: vars.$gutter * 2;
  text-align: center;
  background: vars.$dark-color;
  color: vars.$alt-color;
}