@use 'src/styles/vars';

.footer {
  margin-block: vars.$gutter-base;
  padding-block: vars.$gutter * 2;
  text-align: center;
  background: vars.$dark-color;
  color: vars.$alt-color;

  .footer__icon {
    position: relative;
  }
  svg {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-block-end: 2px;
  }

}